<p id="notice"><%= notice %></p>

<div id="show_post">
	<p>
	  <b style="font-size: 18px"><u><%= @post.title %></u></b><br />

	  <%= @post.message %><br/>
	  <br />

	  <b style="font-size: 11px">By:
	  	<%= @post.name %> <%= time_ago_in_words(@post.created_at) %> ago
	  </b>
	</p>

	<h3 style="margin-left: 5%"><u>Comments</u></h3>
	<% @post.comments.each do |comment| %>
		<div id="com_div">
			<p>
				<%= comment.body %>
			</p>
			<p>
				- <%= comment.commenter.humanize %><!--, <%= time_ago_in_words(comment.created_at) %> ago-->
			</p>
		</div>
	<% end %>

	<br />	

	<p id="comment_form">Add a comment:</p>
	<%= form_for([@post, @post.comments.build]) do |f| %>
		<div class="field">
			<%= f.label :commenter %><br />
			<%= f.text_area :commenter %>
		</div>

		<div class="field">
			<%= f.label :body %><br />
			<%= f.text_area :body %>
		</div>

		<div class="actions">
			<%= f.submit %>
		</div>

	<% end %>
</div>

<%= link_to 'Edit Message', edit_post_path(@post) %> | 
<%= link_to 'Go to Messages', posts_path %>
